<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Registrar Cargos</title>
    <% include partials/head %>
    <% include partials/menu %>
</head>
<hr>

<body class="signup">
    <div class="container">
        <div class="col-sm-8 mx-auto">
            <div class="card mt-5">
                <div class="card-header">
                    <h6 style="text-align: center;">Agregar Nuevo Cargo</h6>
                </div>
                <div class="card-body">
                    <% if(message.lenght > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>
                    <form action="/chargeshow" method="POST">
                        <div class="form-group">
                            <input type="description" name="description" class="form-control" placeholder="Descripción"
                                autofocus>
                        </div>
                        <div class="form-group">
                            <input type="category" name="category" class="form-control" placeholder="category">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block">
                    </form>
                    <hr>
                    <a href="/chargeshow" class="btn btn-primary btn-block">
                        <span class="fa fa-user"></span> Ver Registros
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<% include partials/scripts %>

</html>