<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Registro Empresas</title>
    <% include partials/head %>
    <% include partials/menu %>
</head>
<hr>
<body class="signup">
    <div class="container">
        <div class="col-sm-8 mx-auto">
            <div class="card mt-5">
                <div class="card-header">
                    <h6 style="text-align: center;">Agregar Nueva Empresa</h6>
                </div>
                <div class="card-body">
                    <% if(message.lenght > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>
                    <form action="/companieshow" method="POST">
                        <div class="form-group">
                            <input type="name" name="name" class="form-control" placeholder="Nombre"
                                autofocus>
                        </div>
                        <div class="form-group">
                            <input type="phonenumber" name="phonenumber" class="form-control" placeholder="Telefono">
                        </div>
                        <div class="form-group">
                            <input type="address" name="address" class="form-control" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <input type="city" name="city" class="form-control" placeholder="Ciudad">
                        </div>
                        <div class="form-group">
                            <input type="province" name="province" class="form-control" placeholder="Provincia">
                        </div>
                        <div class="form-group">
                            <input type="county" name="county" class="form-control" placeholder="País">
                        </div>
                        <div class="form-group">
                            <input type="postalcode" name="postalcode" class="form-control" placeholder="Telefono">
                        </div>
                        <div class="form-group">
                            <input type="emailadress" name="emailadress" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="rut" name="rut" class="form-control" placeholder="RUT">
                        </div>
                       <input type="submit" class="btn btn-primary btn-block">
                    </form>
                    <hr>
                    <a href="/companieshow" class="btn btn-primary btn-block">
                        <span class="fa fa-user"></span> Ver Compañias Registradas
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<% include partials/scripts %>

</html>