<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Login</title>

    <% include partials/head %>
</head>

<body class="login">
    <div class="container">
        <div class="col-sm-4 mx-auto">
            <div class="card text-center mt-5">
                <div class="card-header">
                    <h4 style="text-align: center;">Soluciones OK</h4>
                </div>
                <div class="card-body">
                    <a href="/login" class="btn btn-primary btn-block">
                        <span class="fa fa-user"></span> Acceder a tu Cuenta
                    </a>
                    <a href="/login" class="btn btn-primary btn-block">
                        <span class="fa fa-user"></span> Registrar una Cuenta Nueva
                    </a>

                </div>
            </div>
        </div>
</body>


</html>