<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Registrate</title>
    <% include partials/head %>
</head>

<body class="signup">
    <div class="container">
        <div class="col-sm-4 mx-auto">
            <div class="card mt-5">
                <div class="card-header">
                    Registrar Cuenta
                </div>
                <div class="card-body">
                    <% if(message.lenght > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>

                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="name" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Confirmar Contraseña</label>
                            <input type="password" name="confirm_password" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block">
                    </form>

                    <hr>
                    <div class="text-center">
                        <p>Si ya tienes una cuenta ? <a href="/login">Accede aqui</a></p>
                        <p>volver a <a href="/">Presentación </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>